@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Inter:wght@500&family=Tilt+Neon&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        /* font-family: 'Gantari', sans-serif; */
        font-family: 'Tilt Neon', sans-serif;
    }
}

.categories {
    scroll-snap-type: y mandatory;
}

.categories  div {
    scroll-snap-align: center;
}

::-webkit-scrollbar {
    width: 1px;
}
   
